.main
  width: 500px
  max-width: 100%
  background-color: #202020
  padding: 20px
  border-radius: 5px

h1
  margin-bottom: 12px

hr
  margin-bottom: 12px
  opacity: 0.4

section
  display: flex
  flex-direction: column
  gap: 16px